{% extends 'base.html' %}

{% block header %}
  {% block title %}New Post{% endblock %}
{% endblock %}

{% block content %}

<div class="row">
  <form method="post">
    <div class="input-field">
        <label class="active" for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ request.form['title'] }}" required>
    </div>

    
    <div class = "input-field">
        <label class="active" for="body">Body</label>
        <textarea type="text" class="materialize-textarea" name="body" id="body" value="{{ request.form['body'] }}"></textarea>
    </div>

    <button class="btn" type="submit">Save
        <i class="material-icons right">save</i>
    </button>
    <a href="{{ url_for('blog.index')}}">
      <button class="btn brown darken-2" type="button">Cancel
        <i class="material-icons right">cancel</i>
      </button>
    </a>
  </form>
</div>
{% endblock %}