{% extends 'base.html' %}

{% block header %}
  {% block title %}Edit "{{ post['title'] }}"{% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
    <div class="input-field">
        <label class="active" for="title">Title</label>
        <input name="title" id="title"
        value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="input-field">
        <label class="active" for="body">Body</label>
        <textarea class="materialize-textarea" name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <button class="btn" type="submit">Save
        <i class="material-icons right">save</i>
    </button>
  </form>
  <form>
  <a href="{{ url_for('blog.index')}}">
    <button class="btn brown darken-2" type="button">Cancel
      <i class="material-icons right">cancel</i>
    </button>
  </a>
</form>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <button class="btn red darken-4" type="submit" onclick="return confirm('Are you sure?');">Delete
        <i class="material-icons right">delete</i>
    </button>
  </form>
{% endblock %}