{% extends 'base.html' %}
/auth/login
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="input-field">
      <input name="username" type="text" id="username" required>  
      <label class="active" for="username">Username</label>
    </div>
    <div class="input-field">
      <input type="password" name="password" id="password" required>    
      <label class="active" for="password">Password</label>  
    </div>
    <button class="btn" type="submit">Register
        <i class="material-icons right">person</i>
    </button>
  </form>
{% endblock %}