{% extends 'base.html' %}

{% block header %}
  {% block title %}Register{% endblock %}
{% endblock %}

{% block content %}
  <form method="post">
    <div class="input-field">
        <label class="active" for="username">Username</label>
        <input name="username" id="username" required>
    </div>
    <div class="input-field"></div>
        <label class="active" for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button class="btn" type="submit">Register
        <i class="material-icons right">person</i>
    </button>
  </form>
{% endblock %}